.App {
  text-align: center;
}

body{
  align-items: center;
  margin: 50px;
  line-height: 30px;
}

.review-list{
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

}
.review-card-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px;
  border-radius: 30px;
  border: 2px solid #ccc;
  padding: 10px;
  max-width: 200em;
}
.review-title {
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 5px;
  padding: 10px;
}

.review-body {
  font-size: 1rem;
  margin-bottom: 10px;
  padding: 4px;
  margin-left: 10px;
  margin-right: 10px;
}

.filters-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  max-width: 200px;
  margin: 10px auto;
}

.filters-container select{
  font-size: 1rem;
  padding: 2px;
  cursor: pointer;
}

.single-review-img{
  width: 300px;
  border-radius: 5px;
  align-items: center;
  justify-content: center;
}

.category-designer-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

.designer {
  margin-left: 7px;
}

.category {
  margin-left: 7px;
  margin-right: 20px;
}

.single-review-owner {
  margin-right: 7px;
color: rgb(108, 108, 110);
}

.owner {
  margin-right: 20px;
  color: rgb(108, 108, 110);
}

.action-buttons {
  display: flex;
  flex-direction: row;
  justify-content:left;
  align-items: center;
  margin-top: 20px;
}

.like-button {
  font-size: 17px;
  margin-right: 2px;
}

.dislike-button {
  font-size: 17px;
  margin-left: 2px;
}

.likes{
  margin-left: 10px;
  margin-right: 20px;
}

.comments-button {
  margin-right: 15px;
  font-size: 17px;
}


.comment-author {
  margin-right: 7px;
  color: rgb(108, 108, 110);
  margin-bottom: 100px;
}

.comment-author-name {
  margin-right: 20px;
  color: rgb(108, 108, 110);
  margin-bottom: 10px;
}

.comment-body {
  margin-bottom: 10px;
}

.comment-card {

  border: 2px solid #ccc;
  padding: 10px;
  flex-wrap: wrap;

}

.line {
  border-bottom: 2px solid #ccc;
  display: block;
}
.hide-comments {
  display: flex;
  flex-direction: row;
  justify-content:left;
  align-items: center;
  margin-top: 10px;
}
